@model IEnumerable<projcet1._0.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1 class="but1" >Categories</h1>

<p>
    @if (User.IsInRole("Administrators"))
    {
        <a class ="text-dark offset-sm-10 but" asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryOfArticle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryOfArticle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            @if (User.IsInRole("Administrators"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
